@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700);

* {
    font-family: Raleway, sans-serif;
 }

body {
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color:tomato;
}

header {
    background-color: #000555;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 25px;
}

.catFactContainer{
    padding: 20px;
}

button {
    background-color: #000555;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    margin-bottom: 50px;
    height: 40px;
    width: 200px;
}

